/**
 * Coming Soon & Maintenance Mode PRO
 * 1 - Reset
 * --------------------------------------------------------------
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  height: 100%;
  font-size: 100%;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
figure {
  margin: 0;
}
figcaption {
  text-align: center;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
ul,
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  height: auto;
}
input {
  -webkit-border-radius: 0;
  border-radius: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/**
  * 2 - Essentials
  * --------------------------------------------------------------
  */

.s-cf:before,
.s-cf:after,
.s-container:before,
.s-container:after {
  content: " ";
  display: table;
}
.s-cf:after,
.s-container:after {
  clear: both;
}
.s-cf,
.s-container {
  *zoom: 1;
}
.s-hide {
  display: none;
}
.s-float-right {
  float: right;
}
.s-float-left {
  float: left;
}
.s-center-text {
  text-align: center;
}
.s-left-text {
  text-align: left;
}
.s-right-text {
  text-align: right;
}
.s-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .s-container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .s-container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .s-container {
    max-width: 1170px;
  }
}

.hidden {
  display: none;
}

/**
  * 3 - Typography
  * --------------------------------------------------------------
  */

body {
  font-family: "Karla", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/**
  * 4 - Forms
  * --------------------------------------------------------------
  */

input[type="text"],
input[type="submit"],
textarea {
  font-family: "Karla", Arial, sans-serif;
  background: transparent;
  border: 1px solid #eeeeee;
  padding: 8px 10px;
  width: 100%;
  font-size: 14px;
  line-height: 1.8;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
input[type="text"]:focus,
input[type="text"]:active,
textarea {
  outline: none;
}

.gdpr_consent {
  margin: 15px 0 0 0;
}
.gdpr_consent input {
  vertical-align: middle;
}
.gdpr_consent label:hover {
  cursor: pointer;
}

/* Buttons */

input[type="submit"] {
  background: #0f0f0f;
  border-color: #0f0f0f;
  color: #ffffff;
  font-size: 12px;
  padding: 8px 20px;
  margin-top: 10px;
  width: auto;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #0a0a0a;
  border-color: #0a0a0a;
}

/**
  * 5 - Plugin (Default)
  * --------------------------------------------------------------
  */

.content .mm-module:last-child {
  margin-bottom: 0;
}
.content .mm-module:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: thin dotted;
}
.maintenance-mode {
  margin: 80px auto;
}
.maintenance-mode.middle {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.maintenance-mode.bottom-center {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -5%);
  bottom: 0;
}
.content {
  position: relative;
  z-index: 10;
}
.logo-container {
  line-height: 0;
  text-align: center;
}
.logo {
  display: inline-block;
  width: auto;
}
.header-text {
  font-size: 28px;
  line-height: 1.4;
  text-align: center;
}
.secondary-text {
  font-size: 14px;
}
.anti-spam {
  font-size: 11px;
  margin-top: 10px;
  color: #bbbbbb;
}
@media (max-width: 767px) {
  .maintenance-mode {
    margin: 20px auto;
  }
}
.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.video-foreground {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 961px) {
  .mobile-fallback iframe {
    display: none;
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

/**
  * 6 - Alerts
  * --------------------------------------------------------------
  */

.csmm-alert {
  color: #ffffff;
  font-size: 14px;
  padding: 5px 19px 5px 10px;
  margin-bottom: 10px;
}
.csmm-alert-success {
  background-color: #90c695;
}
.csmm-alert-danger {
  background-color: #e08283;
}

#linkback {
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: small;
  opacity: 0.8;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.33);
  color: #ffffff;
  padding: 5px;
  border-radius: 10px;
}

#linkback a {
  color: #ffffff;
  text-decoration: underline;
}
.maintenance-mode .content input[type="text"],
.maintenance-mode .content textarea {
  margin-top: 10px;
}
#form-fields-preview {
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-block {
  text-align: center;
  clear: both;
}

.social-block li {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
}
.social-block li.icon-size-medium {
  font-size: 150%;
}
.social-block li.icon-size-large {
  font-size: 200%;
}
.social-block li.icon-size-extra-large {
  font-size: 300%;
}
.social-block a:hover,
.social-block a:active,
.social-block a:focus {
  outline: none;
}

.map-block iframe {
  border: 0;
  padding: 0;
  outline: 0;
  margin: 0;
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.countdown-block {
  text-align: center;
}

.countdown-block .timer span {
  color: #555;
  display: inline-block;
}

#progressbar .therm {
  height: 30px;
  border-radius: 5px;
}
#progressbar .outer-therm {
  margin: 20px 0;
}
#progressbar .inner-therm span {
  display: inline-block;
  float: right;
  font-weight: bold;
  line-height: 100%;
  padding: 0 10px;
}
#progressbar .vertical.inner-therm span {
  width: 100%;
  text-align: center;
}
#progressbar .vertical.outer-therm {
  position: relative;
}
#progressbar .vertical.inner-therm {
  position: absolute;
  bottom: 0;
}

#email-debug {
  background: #fefefe;
  color: #111;
  border: 2px solid #ff0000ee;
  padding: 10px;
  word-wrap: break-word;
}

/* background image filters */
.aden {
  position: relative;
  -webkit-filter: hue-rotate(-20deg) contrast(0.9) saturate(0.85)
    brightness(1.2);
  filter: hue-rotate(-20deg) contrast(0.9) saturate(0.85) brightness(1.2);
}
.aden:after,
.aden:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.aden img {
  width: 100%;
  z-index: 1;
}
.aden:before {
  z-index: 2;
}
.aden:after {
  z-index: 3;
}
.aden::after {
  background: -webkit-linear-gradient(left, rgba(66, 10, 14, 0.2), transparent);
  background: linear-gradient(to right, rgba(66, 10, 14, 0.2), transparent);
  mix-blend-mode: darken;
}
.gingham::after,
.perpetua::after,
.reyes::after {
  mix-blend-mode: soft-light;
}
.inkwell {
  position: relative;
  -webkit-filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
  filter: sepia(0.3) contrast(1.1) brightness(1.1) grayscale(1);
}
.inkwell:after,
.inkwell:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.inkwell img {
  width: 100%;
  z-index: 1;
}
.inkwell:before {
  z-index: 2;
}
.inkwell:after {
  z-index: 3;
}
.perpetua {
  position: relative;
}
.perpetua:after,
.perpetua:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.perpetua img {
  width: 100%;
  z-index: 1;
}
.perpetua:before {
  z-index: 2;
}
.perpetua:after {
  z-index: 3;
}
.perpetua::after {
  background: -webkit-linear-gradient(top, #005b9a, #e6c13d);
  background: linear-gradient(to bottom, #005b9a, #e6c13d);
  opacity: 0.5;
}
.reyes {
  position: relative;
  -webkit-filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
  filter: sepia(0.22) brightness(1.1) contrast(0.85) saturate(0.75);
}
.reyes:after,
.reyes:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.reyes img {
  width: 100%;
  z-index: 1;
}
.reyes:before {
  z-index: 2;
}
.reyes:after {
  z-index: 3;
}
.reyes::after {
  background: #efcdad;
  opacity: 0.5;
}
.gingham {
  position: relative;
  -webkit-filter: brightness(1.05) hue-rotate(-10deg);
  filter: brightness(1.05) hue-rotate(-10deg);
}
.gingham:after,
.gingham:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.gingham img {
  width: 100%;
  z-index: 1;
}
.gingham:before {
  z-index: 2;
}
.gingham:after {
  z-index: 3;
}
.gingham::after {
  background: #e6e6fa;
}
.toaster {
  position: relative;
  -webkit-filter: contrast(1.5) brightness(0.9);
  filter: contrast(1.5) brightness(0.9);
}
.toaster:after,
.toaster:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.toaster img {
  width: 100%;
  z-index: 1;
}
.toaster:before {
  z-index: 2;
}
.toaster:after {
  z-index: 3;
}
.toaster::after {
  background: -webkit-radial-gradient(circle, #804e0f, #3b003b);
  background: radial-gradient(circle, #804e0f, #3b003b);
  mix-blend-mode: screen;
}
.walden {
  position: relative;
  -webkit-filter: brightness(1.1) hue-rotate(-10deg) sepia(0.3) saturate(1.6);
  filter: brightness(1.1) hue-rotate(-10deg) sepia(0.3) saturate(1.6);
}
.walden:after,
.walden:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.walden img {
  width: 100%;
  z-index: 1;
}
.walden:before {
  z-index: 2;
}
.walden:after {
  z-index: 3;
}
.walden::after {
  background: #04c;
  mix-blend-mode: screen;
  opacity: 0.3;
}
.hudson {
  position: relative;
  -webkit-filter: brightness(1.2) contrast(0.9) saturate(1.1);
  filter: brightness(1.2) contrast(0.9) saturate(1.1);
}
.hudson:after,
.hudson:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.hudson img {
  width: 100%;
  z-index: 1;
}
.hudson:before {
  z-index: 2;
}
.hudson:after {
  z-index: 3;
}
.hudson::after {
  background: -webkit-radial-gradient(circle, #a6b1ff 50%, #342134);
  background: radial-gradient(circle, #a6b1ff 50%, #342134);
  mix-blend-mode: multiply;
  opacity: 0.5;
}
.earlybird {
  position: relative;
  -webkit-filter: contrast(0.9) sepia(0.2);
  filter: contrast(0.9) sepia(0.2);
}
.earlybird:after,
.earlybird:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.earlybird img {
  width: 100%;
  z-index: 1;
}
.earlybird:before {
  z-index: 2;
}
.earlybird:after {
  z-index: 3;
}
.earlybird::after {
  background: -webkit-radial-gradient(
    circle,
    #d0ba8e 20%,
    #360309 85%,
    #1d0210 100%
  );
  background: radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
  mix-blend-mode: overlay;
}
.mayfair {
  position: relative;
  -webkit-filter: contrast(1.1) saturate(1.1);
  filter: contrast(1.1) saturate(1.1);
}
.mayfair:after,
.mayfair:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.mayfair img {
  width: 100%;
  z-index: 1;
}
.mayfair:before {
  z-index: 2;
}
.mayfair:after {
  z-index: 3;
}
.mayfair::after {
  background: -webkit-radial-gradient(
    40% 40%,
    circle,
    rgba(255, 255, 255, 0.8),
    rgba(255, 200, 200, 0.6),
    #111 60%
  );
  background: radial-gradient(
    circle at 40% 40%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 200, 200, 0.6),
    #111 60%
  );
  mix-blend-mode: overlay;
  opacity: 0.4;
}
.lofi {
  position: relative;
  -webkit-filter: saturate(1.1) contrast(1.5);
  filter: saturate(1.1) contrast(1.5);
}
.lofi:after,
.lofi:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.lofi img {
  width: 100%;
  z-index: 1;
}
.lofi:before {
  z-index: 2;
}
.lofi:after {
  z-index: 3;
}
.lofi::after {
  background: -webkit-radial-gradient(circle, transparent 70%, #222 150%);
  background: radial-gradient(circle, transparent 70%, #222 150%);
  mix-blend-mode: multiply;
}
._1977 {
  position: relative;
  -webkit-filter: contrast(1.1) brightness(1.1) saturate(1.3);
  filter: contrast(1.1) brightness(1.1) saturate(1.3);
}
._1977:after,
._1977:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
._1977 img {
  width: 100%;
  z-index: 1;
}
._1977:before {
  z-index: 2;
}
._1977:after {
  z-index: 3;
  background: rgba(243, 106, 188, 0.3);
  mix-blend-mode: screen;
}
.brooklyn {
  position: relative;
  -webkit-filter: contrast(0.9) brightness(1.1);
  filter: contrast(0.9) brightness(1.1);
}
.brooklyn:after,
.brooklyn:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.brooklyn img {
  width: 100%;
  z-index: 1;
}
.brooklyn:before {
  z-index: 2;
}
.brooklyn:after {
  z-index: 3;
}
.brooklyn::after {
  background: -webkit-radial-gradient(
    circle,
    rgba(168, 223, 193, 0.4) 70%,
    #c4b7c8
  );
  background: radial-gradient(circle, rgba(168, 223, 193, 0.4) 70%, #c4b7c8);
  mix-blend-mode: overlay;
}
.xpro2 {
  position: relative;
  -webkit-filter: sepia(0.3);
  filter: sepia(0.3);
}
.xpro2:after,
.xpro2:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.xpro2 img {
  width: 100%;
  z-index: 1;
}
.xpro2:before {
  z-index: 2;
}
.xpro2:after {
  z-index: 3;
}
.xpro2::after {
  background: -webkit-radial-gradient(
    circle,
    #e6e7e0 40%,
    rgba(43, 42, 161, 0.6) 110%
  );
  background: radial-gradient(circle, #e6e7e0 40%, rgba(43, 42, 161, 0.6) 110%);
  mix-blend-mode: color-burn;
}
.nashville {
  position: relative;
  -webkit-filter: sepia(0.2) contrast(1.2) brightness(1.05) saturate(1.2);
  filter: sepia(0.2) contrast(1.2) brightness(1.05) saturate(1.2);
}
.nashville:after,
.nashville:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.nashville img {
  width: 100%;
  z-index: 1;
}
.nashville:before {
  z-index: 2;
}
.nashville:after {
  z-index: 3;
}
.nashville::after {
  background: rgba(0, 70, 150, 0.4);
  mix-blend-mode: lighten;
}
.nashville::before {
  background: rgba(247, 176, 153, 0.56);
  mix-blend-mode: darken;
}
.lark {
  position: relative;
  -webkit-filter: contrast(0.9);
  filter: contrast(0.9);
}
.lark:after,
.lark:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.lark img {
  width: 100%;
  z-index: 1;
}
.lark:before {
  z-index: 2;
}
.lark:after {
  z-index: 3;
}
.lark::after {
  background: rgba(242, 242, 242, 0.8);
  mix-blend-mode: darken;
}
.lark::before {
  background: #22253f;
  mix-blend-mode: color-dodge;
}
.moon {
  position: relative;
  -webkit-filter: grayscale(1) contrast(1.1) brightness(1.1);
  filter: grayscale(1) contrast(1.1) brightness(1.1);
}
.moon:after,
.moon:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.moon img {
  width: 100%;
  z-index: 1;
}
.moon:before {
  z-index: 2;
}
.moon:after {
  z-index: 3;
}
.moon::before {
  background: #a0a0a0;
  mix-blend-mode: soft-light;
}
.moon::after {
  background: #383838;
  mix-blend-mode: lighten;
}
.clarendon {
  position: relative;
  -webkit-filter: contrast(1.2) saturate(1.35);
  filter: contrast(1.2) saturate(1.35);
}
.clarendon:after,
.clarendon:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.clarendon img {
  width: 100%;
  z-index: 1;
}
.clarendon:before {
  z-index: 2;
  background: rgba(127, 187, 227, 0.2);
  mix-blend-mode: overlay;
}
.clarendon:after {
  z-index: 3;
}
.willow {
  position: relative;
  -webkit-filter: grayscale(0.5) contrast(0.95) brightness(0.9);
  filter: grayscale(0.5) contrast(0.95) brightness(0.9);
}
.willow:after,
.willow:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.willow img {
  width: 100%;
  z-index: 1;
}
.willow:before {
  z-index: 2;
}
.willow:after {
  z-index: 3;
}
.willow::before {
  background-color: radial-gradient(40%, circle, #d4a9af 55%, #000 150%);
  mix-blend-mode: overlay;
}
.willow::after {
  background-color: #d8cdcb;
  mix-blend-mode: color;
}
.rise {
  position: relative;
  -webkit-filter: brightness(1.05) sepia(0.2) contrast(0.9) saturate(0.9);
  filter: brightness(1.05) sepia(0.2) contrast(0.9) saturate(0.9);
}
.rise:after,
.rise:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.rise img {
  width: 100%;
  z-index: 1;
}
.rise:before {
  z-index: 2;
}
.rise:after {
  z-index: 3;
}
.rise::after {
  background: -webkit-radial-gradient(
    circle,
    rgba(232, 197, 152, 0.8),
    transparent 90%
  );
  background: radial-gradient(
    circle,
    rgba(232, 197, 152, 0.8),
    transparent 90%
  );
  mix-blend-mode: overlay;
  opacity: 0.6;
}
.rise::before {
  background: -webkit-radial-gradient(
    circle,
    rgba(236, 205, 169, 0.15) 55%,
    rgba(50, 30, 7, 0.4)
  );
  background: radial-gradient(
    circle,
    rgba(236, 205, 169, 0.15) 55%,
    rgba(50, 30, 7, 0.4)
  );
  mix-blend-mode: multiply;
}
.slumber {
  position: relative;
  -webkit-filter: saturate(0.66) brightness(1.05);
  filter: saturate(0.66) brightness(1.05);
}
.slumber:after,
.slumber:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.slumber img {
  width: 100%;
  z-index: 1;
}
.slumber:before {
  z-index: 2;
}
.slumber:after {
  z-index: 3;
}
.slumber::after {
  background: rgba(125, 105, 24, 0.5);
  mix-blend-mode: soft-light;
}
.slumber::before {
  background: rgba(69, 41, 12, 0.4);
  mix-blend-mode: lighten;
}
.brannan {
  position: relative;
  -webkit-filter: sepia(0.5) contrast(1.4);
  filter: sepia(0.5) contrast(1.4);
}
.brannan:after,
.brannan:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.brannan img {
  width: 100%;
  z-index: 1;
}
.brannan:before {
  z-index: 2;
}
.brannan:after {
  z-index: 3;
}
.brannan::after {
  background-color: rgba(161, 44, 199, 0.31);
  mix-blend-mode: lighten;
}
.valencia {
  position: relative;
  -webkit-filter: contrast(1.08) brightness(1.08) sepia(0.08);
  filter: contrast(1.08) brightness(1.08) sepia(0.08);
}
.valencia:after,
.valencia:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.valencia img {
  width: 100%;
  z-index: 1;
}
.valencia:before {
  z-index: 2;
}
.valencia:after {
  z-index: 3;
}
.valencia::after {
  background: #3a0339;
  mix-blend-mode: exclusion;
  opacity: 0.5;
}
.kelvin {
  position: relative;
}
.kelvin:after,
.kelvin:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.kelvin img {
  width: 100%;
  z-index: 1;
}
.kelvin:before {
  z-index: 2;
}
.kelvin:after {
  z-index: 3;
}
.kelvin::after {
  background: #b77d21;
  mix-blend-mode: overlay;
}
.kelvin::before {
  background: #382c34;
  mix-blend-mode: color-dodge;
}
.maven {
  position: relative;
  -webkit-filter: sepia(0.25) brightness(0.95) contrast(0.95) saturate(1.5);
  filter: sepia(0.25) brightness(0.95) contrast(0.95) saturate(1.5);
}
.maven:after,
.maven:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.maven img {
  width: 100%;
  z-index: 1;
}
.maven:before {
  z-index: 2;
}
.maven:after {
  z-index: 3;
  background: rgba(3, 230, 26, 0.2);
  mix-blend-mode: hue;
}
.stinson {
  position: relative;
  -webkit-filter: contrast(0.75) saturate(0.85) brightness(1.15);
  filter: contrast(0.75) saturate(0.85) brightness(1.15);
}
.stinson:after,
.stinson:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
.stinson img {
  width: 100%;
  z-index: 1;
}
.stinson:before {
  z-index: 2;
}
.stinson:after {
  z-index: 3;
}
.stinson::before {
  background: rgba(240, 149, 128, 0.2);
  mix-blend-mode: soft-light;
}
.blackwhite {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@font-face {
  font-family: "icomoon";
  src: url("icomoon.eot?-3p8lp4");
  src: url("icomoon.eot?#iefix-3p8lp4") format("embedded-opentype"),
    url("icomoon.woff?-3p8lp4") format("woff"),
    url("icomoon.ttf?-3p8lp4") format("truetype"),
    url("icomoon.svg?-3p8lp4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"],
[class*=" icomoon-"],
[data-icomoon] {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icomoon]:before {
  content: attr(data-icomoon);
}

.icomoon-home:before {
  content: "\e000";
}
.icomoon-home2:before {
  content: "\e001";
}
.icomoon-home3:before {
  content: "\e002";
}
.icomoon-office:before {
  content: "\e003";
}
.icomoon-newspaper:before {
  content: "\e004";
}
.icomoon-pencil:before {
  content: "\e005";
}
.icomoon-pencil2:before {
  content: "\e006";
}
.icomoon-quill:before {
  content: "\e007";
}
.icomoon-pen:before {
  content: "\e008";
}
.icomoon-blog:before {
  content: "\e009";
}
.icomoon-droplet:before {
  content: "\e00a";
}
.icomoon-paint-format:before {
  content: "\e00b";
}
.icomoon-image:before {
  content: "\e00c";
}
.icomoon-image2:before {
  content: "\e00d";
}
.icomoon-images:before {
  content: "\e00e";
}
.icomoon-camera:before {
  content: "\e00f";
}
.icomoon-music:before {
  content: "\e010";
}
.icomoon-headphones:before {
  content: "\e011";
}
.icomoon-play:before {
  content: "\e012";
}
.icomoon-film:before {
  content: "\e013";
}
.icomoon-camera2:before {
  content: "\e014";
}
.icomoon-dice:before {
  content: "\e015";
}
.icomoon-pacman:before {
  content: "\e016";
}
.icomoon-spades:before {
  content: "\e017";
}
.icomoon-clubs:before {
  content: "\e018";
}
.icomoon-diamonds:before {
  content: "\e019";
}
.icomoon-pawn:before {
  content: "\e01a";
}
.icomoon-bullhorn:before {
  content: "\e01b";
}
.icomoon-connection:before {
  content: "\e01c";
}
.icomoon-podcast:before {
  content: "\e01d";
}
.icomoon-feed:before {
  content: "\e01e";
}
.icomoon-book:before {
  content: "\e01f";
}
.icomoon-books:before {
  content: "\e020";
}
.icomoon-library:before {
  content: "\e021";
}
.icomoon-file:before {
  content: "\e022";
}
.icomoon-profile:before {
  content: "\e023";
}
.icomoon-file2:before {
  content: "\e024";
}
.icomoon-file3:before {
  content: "\e025";
}
.icomoon-file4:before {
  content: "\e026";
}
.icomoon-copy:before {
  content: "\e027";
}
.icomoon-copy2:before {
  content: "\e028";
}
.icomoon-copy3:before {
  content: "\e029";
}
.icomoon-paste:before {
  content: "\e02a";
}
.icomoon-paste2:before {
  content: "\e02b";
}
.icomoon-paste3:before {
  content: "\e02c";
}
.icomoon-stack:before {
  content: "\e02d";
}
.icomoon-folder:before {
  content: "\e02e";
}
.icomoon-folder-open:before {
  content: "\e02f";
}
.icomoon-tag:before {
  content: "\e030";
}
.icomoon-tags:before {
  content: "\e031";
}
.icomoon-barcode:before {
  content: "\e032";
}
.icomoon-qrcode:before {
  content: "\e033";
}
.icomoon-ticket:before {
  content: "\e034";
}
.icomoon-cart:before {
  content: "\e035";
}
.icomoon-cart2:before {
  content: "\e036";
}
.icomoon-cart3:before {
  content: "\e037";
}
.icomoon-coin:before {
  content: "\e038";
}
.icomoon-credit:before {
  content: "\e039";
}
.icomoon-calculate:before {
  content: "\e03a";
}
.icomoon-support:before {
  content: "\e03b";
}
.icomoon-phone:before {
  content: "\e03c";
}
.icomoon-phone-hang-up:before {
  content: "\e03d";
}
.icomoon-address-book:before {
  content: "\e03e";
}
.icomoon-notebook:before {
  content: "\e03f";
}
.icomoon-envelope:before {
  content: "\e040";
}
.icomoon-pushpin:before {
  content: "\e041";
}
.icomoon-location:before {
  content: "\e042";
}
.icomoon-location2:before {
  content: "\e043";
}
.icomoon-compass:before {
  content: "\e044";
}
.icomoon-map:before {
  content: "\e045";
}
.icomoon-map2:before {
  content: "\e046";
}
.icomoon-history:before {
  content: "\e047";
}
.icomoon-clock:before {
  content: "\e048";
}
.icomoon-clock2:before {
  content: "\e049";
}
.icomoon-alarm:before {
  content: "\e04a";
}
.icomoon-alarm2:before {
  content: "\e04b";
}
.icomoon-bell:before {
  content: "\e04c";
}
.icomoon-stopwatch:before {
  content: "\e04d";
}
.icomoon-calendar:before {
  content: "\e04e";
}
.icomoon-calendar2:before {
  content: "\e04f";
}
.icomoon-print:before {
  content: "\e050";
}
.icomoon-keyboard:before {
  content: "\e051";
}
.icomoon-screen:before {
  content: "\e052";
}
.icomoon-laptop:before {
  content: "\e053";
}
.icomoon-mobile:before {
  content: "\e054";
}
.icomoon-mobile2:before {
  content: "\e055";
}
.icomoon-tablet:before {
  content: "\e056";
}
.icomoon-tv:before {
  content: "\e057";
}
.icomoon-cabinet:before {
  content: "\e058";
}
.icomoon-drawer:before {
  content: "\e059";
}
.icomoon-drawer2:before {
  content: "\e05a";
}
.icomoon-drawer3:before {
  content: "\e05b";
}
.icomoon-box-add:before {
  content: "\e05c";
}
.icomoon-box-remove:before {
  content: "\e05d";
}
.icomoon-download:before {
  content: "\e05e";
}
.icomoon-upload:before {
  content: "\e05f";
}
.icomoon-disk:before {
  content: "\e060";
}
.icomoon-storage:before {
  content: "\e061";
}
.icomoon-undo:before {
  content: "\e062";
}
.icomoon-redo:before {
  content: "\e063";
}
.icomoon-flip:before {
  content: "\e064";
}
.icomoon-flip2:before {
  content: "\e065";
}
.icomoon-undo2:before {
  content: "\e066";
}
.icomoon-redo2:before {
  content: "\e067";
}
.icomoon-forward:before {
  content: "\e068";
}
.icomoon-reply:before {
  content: "\e069";
}
.icomoon-bubble:before {
  content: "\e06a";
}
.icomoon-bubbles:before {
  content: "\e06b";
}
.icomoon-bubbles2:before {
  content: "\e06c";
}
.icomoon-bubble2:before {
  content: "\e06d";
}
.icomoon-bubbles3:before {
  content: "\e06e";
}
.icomoon-bubbles4:before {
  content: "\e06f";
}
.icomoon-user:before {
  content: "\e070";
}
.icomoon-users:before {
  content: "\e071";
}
.icomoon-user2:before {
  content: "\e072";
}
.icomoon-users2:before {
  content: "\e073";
}
.icomoon-user3:before {
  content: "\e074";
}
.icomoon-user4:before {
  content: "\e075";
}
.icomoon-quotes-left:before {
  content: "\e076";
}
.icomoon-busy:before {
  content: "\e077";
}
.icomoon-spinner:before {
  content: "\e078";
}
.icomoon-spinner2:before {
  content: "\e079";
}
.icomoon-spinner3:before {
  content: "\e07a";
}
.icomoon-spinner4:before {
  content: "\e07b";
}
.icomoon-spinner5:before {
  content: "\e07c";
}
.icomoon-spinner6:before {
  content: "\e07d";
}
.icomoon-binoculars:before {
  content: "\e07e";
}
.icomoon-search:before {
  content: "\e07f";
}
.icomoon-zoomin:before {
  content: "\e080";
}
.icomoon-zoomout:before {
  content: "\e081";
}
.icomoon-expand:before {
  content: "\e082";
}
.icomoon-contract:before {
  content: "\e083";
}
.icomoon-expand2:before {
  content: "\e084";
}
.icomoon-contract2:before {
  content: "\e085";
}
.icomoon-key:before {
  content: "\e086";
}
.icomoon-key2:before {
  content: "\e087";
}
.icomoon-lock:before {
  content: "\e088";
}
.icomoon-lock2:before {
  content: "\e089";
}
.icomoon-unlocked:before {
  content: "\e08a";
}
.icomoon-wrench:before {
  content: "\e08b";
}
.icomoon-settings:before {
  content: "\e08c";
}
.icomoon-equalizer:before {
  content: "\e08d";
}
.icomoon-cog:before {
  content: "\e08e";
}
.icomoon-cogs:before {
  content: "\e08f";
}
.icomoon-cog2:before {
  content: "\e090";
}
.icomoon-hammer:before {
  content: "\e091";
}
.icomoon-wand:before {
  content: "\e092";
}
.icomoon-aid:before {
  content: "\e093";
}
.icomoon-bug:before {
  content: "\e094";
}
.icomoon-pie:before {
  content: "\e095";
}
.icomoon-stats:before {
  content: "\e096";
}
.icomoon-bars:before {
  content: "\e097";
}
.icomoon-bars2:before {
  content: "\e098";
}
.icomoon-gift:before {
  content: "\e099";
}
.icomoon-trophy:before {
  content: "\e09a";
}
.icomoon-glass:before {
  content: "\e09b";
}
.icomoon-mug:before {
  content: "\e09c";
}
.icomoon-food:before {
  content: "\e09d";
}
.icomoon-leaf:before {
  content: "\e09e";
}
.icomoon-rocket:before {
  content: "\e09f";
}
.icomoon-meter:before {
  content: "\e0a0";
}
.icomoon-meter2:before {
  content: "\e0a1";
}
.icomoon-dashboard:before {
  content: "\e0a2";
}
.icomoon-hammer2:before {
  content: "\e0a3";
}
.icomoon-fire:before {
  content: "\e0a4";
}
.icomoon-lab:before {
  content: "\e0a5";
}
.icomoon-magnet:before {
  content: "\e0a6";
}
.icomoon-remove:before {
  content: "\e0a7";
}
.icomoon-remove2:before {
  content: "\e0a8";
}
.icomoon-briefcase:before {
  content: "\e0a9";
}
.icomoon-airplane:before {
  content: "\e0aa";
}
.icomoon-truck:before {
  content: "\e0ab";
}
.icomoon-road:before {
  content: "\e0ac";
}
.icomoon-accessibility:before {
  content: "\e0ad";
}
.icomoon-target:before {
  content: "\e0ae";
}
.icomoon-shield:before {
  content: "\e0af";
}
.icomoon-lightning:before {
  content: "\e0b0";
}
.icomoon-switch:before {
  content: "\e0b1";
}
.icomoon-powercord:before {
  content: "\e0b2";
}
.icomoon-signup:before {
  content: "\e0b3";
}
.icomoon-list:before {
  content: "\e0b4";
}
.icomoon-list2:before {
  content: "\e0b5";
}
.icomoon-numbered-list:before {
  content: "\e0b6";
}
.icomoon-menu:before {
  content: "\e0b7";
}
.icomoon-menu2:before {
  content: "\e0b8";
}
.icomoon-tree:before {
  content: "\e0b9";
}
.icomoon-cloud:before {
  content: "\e0ba";
}
.icomoon-cloud-download:before {
  content: "\e0bb";
}
.icomoon-cloud-upload:before {
  content: "\e0bc";
}
.icomoon-download2:before {
  content: "\e0bd";
}
.icomoon-upload2:before {
  content: "\e0be";
}
.icomoon-download3:before {
  content: "\e0bf";
}
.icomoon-upload3:before {
  content: "\e0c0";
}
.icomoon-globe:before {
  content: "\e0c1";
}
.icomoon-earth:before {
  content: "\e0c2";
}
.icomoon-link:before {
  content: "\e0c3";
}
.icomoon-flag:before {
  content: "\e0c4";
}
.icomoon-attachment:before {
  content: "\e0c5";
}
.icomoon-eye:before {
  content: "\e0c6";
}
.icomoon-eye-blocked:before {
  content: "\e0c7";
}
.icomoon-eye2:before {
  content: "\e0c8";
}
.icomoon-bookmark:before {
  content: "\e0c9";
}
.icomoon-bookmarks:before {
  content: "\e0ca";
}
.icomoon-brightness-medium:before {
  content: "\e0cb";
}
.icomoon-brightness-contrast:before {
  content: "\e0cc";
}
.icomoon-contrast:before {
  content: "\e0cd";
}
.icomoon-star:before {
  content: "\e0ce";
}
.icomoon-star2:before {
  content: "\e0cf";
}
.icomoon-star3:before {
  content: "\e0d0";
}
.icomoon-heart:before {
  content: "\e0d1";
}
.icomoon-heart2:before {
  content: "\e0d2";
}
.icomoon-heart-broken:before {
  content: "\e0d3";
}
.icomoon-thumbs-up:before {
  content: "\e0d4";
}
.icomoon-thumbs-up2:before {
  content: "\e0d5";
}
.icomoon-happy:before {
  content: "\e0d6";
}
.icomoon-happy2:before {
  content: "\e0d7";
}
.icomoon-smiley:before {
  content: "\e0d8";
}
.icomoon-smiley2:before {
  content: "\e0d9";
}
.icomoon-tongue:before {
  content: "\e0da";
}
.icomoon-tongue2:before {
  content: "\e0db";
}
.icomoon-sad:before {
  content: "\e0dc";
}
.icomoon-sad2:before {
  content: "\e0dd";
}
.icomoon-wink:before {
  content: "\e0de";
}
.icomoon-wink2:before {
  content: "\e0df";
}
.icomoon-grin:before {
  content: "\e0e0";
}
.icomoon-grin2:before {
  content: "\e0e1";
}
.icomoon-cool:before {
  content: "\e0e2";
}
.icomoon-cool2:before {
  content: "\e0e3";
}
.icomoon-angry:before {
  content: "\e0e4";
}
.icomoon-angry2:before {
  content: "\e0e5";
}
.icomoon-evil:before {
  content: "\e0e6";
}
.icomoon-evil2:before {
  content: "\e0e7";
}
.icomoon-shocked:before {
  content: "\e0e8";
}
.icomoon-shocked2:before {
  content: "\e0e9";
}
.icomoon-confused:before {
  content: "\e0ea";
}
.icomoon-confused2:before {
  content: "\e0eb";
}
.icomoon-neutral:before {
  content: "\e0ec";
}
.icomoon-neutral2:before {
  content: "\e0ed";
}
.icomoon-wondering:before {
  content: "\e0ee";
}
.icomoon-wondering2:before {
  content: "\e0ef";
}
.icomoon-point-up:before {
  content: "\e0f0";
}
.icomoon-point-right:before {
  content: "\e0f1";
}
.icomoon-point-down:before {
  content: "\e0f2";
}
.icomoon-point-left:before {
  content: "\e0f3";
}
.icomoon-warning:before {
  content: "\e0f4";
}
.icomoon-notification:before {
  content: "\e0f5";
}
.icomoon-question:before {
  content: "\e0f6";
}
.icomoon-info:before {
  content: "\e0f7";
}
.icomoon-info2:before {
  content: "\e0f8";
}
.icomoon-blocked:before {
  content: "\e0f9";
}
.icomoon-cancel-circle:before {
  content: "\e0fa";
}
.icomoon-checkmark-circle:before {
  content: "\e0fb";
}
.icomoon-spam:before {
  content: "\e0fc";
}
.icomoon-close:before {
  content: "\e0fd";
}
.icomoon-checkmark:before {
  content: "\e0fe";
}
.icomoon-checkmark2:before {
  content: "\e0ff";
}
.icomoon-spell-check:before {
  content: "\e100";
}
.icomoon-minus:before {
  content: "\e101";
}
.icomoon-plus:before {
  content: "\e102";
}
.icomoon-enter:before {
  content: "\e103";
}
.icomoon-exit:before {
  content: "\e104";
}
.icomoon-play2:before {
  content: "\e105";
}
.icomoon-pause:before {
  content: "\e106";
}
.icomoon-stop:before {
  content: "\e107";
}
.icomoon-backward:before {
  content: "\e108";
}
.icomoon-forward2:before {
  content: "\e109";
}
.icomoon-play3:before {
  content: "\e10a";
}
.icomoon-pause2:before {
  content: "\e10b";
}
.icomoon-stop2:before {
  content: "\e10c";
}
.icomoon-backward2:before {
  content: "\e10d";
}
.icomoon-forward3:before {
  content: "\e10e";
}
.icomoon-first:before {
  content: "\e10f";
}
.icomoon-last:before {
  content: "\e110";
}
.icomoon-previous:before {
  content: "\e111";
}
.icomoon-next:before {
  content: "\e112";
}
.icomoon-eject:before {
  content: "\e113";
}
.icomoon-volume-high:before {
  content: "\e114";
}
.icomoon-volume-medium:before {
  content: "\e115";
}
.icomoon-volume-low:before {
  content: "\e116";
}
.icomoon-volume-mute:before {
  content: "\e117";
}
.icomoon-volume-mute2:before {
  content: "\e118";
}
.icomoon-volume-increase:before {
  content: "\e119";
}
.icomoon-volume-decrease:before {
  content: "\e11a";
}
.icomoon-loop:before {
  content: "\e11b";
}
.icomoon-loop2:before {
  content: "\e11c";
}
.icomoon-loop3:before {
  content: "\e11d";
}
.icomoon-shuffle:before {
  content: "\e11e";
}
.icomoon-arrow-up-left:before {
  content: "\e11f";
}
.icomoon-arrow-up:before {
  content: "\e120";
}
.icomoon-arrow-up-right:before {
  content: "\e121";
}
.icomoon-arrow-right:before {
  content: "\e122";
}
.icomoon-arrow-down-right:before {
  content: "\e123";
}
.icomoon-arrow-down:before {
  content: "\e124";
}
.icomoon-arrow-down-left:before {
  content: "\e125";
}
.icomoon-arrow-left:before {
  content: "\e126";
}
.icomoon-arrow-up-left2:before {
  content: "\e127";
}
.icomoon-arrow-up2:before {
  content: "\e128";
}
.icomoon-arrow-up-right2:before {
  content: "\e129";
}
.icomoon-arrow-right2:before {
  content: "\e12a";
}
.icomoon-arrow-down-right2:before {
  content: "\e12b";
}
.icomoon-arrow-down2:before {
  content: "\e12c";
}
.icomoon-arrow-down-left2:before {
  content: "\e12d";
}
.icomoon-arrow-left2:before {
  content: "\e12e";
}
.icomoon-arrow-up-left3:before {
  content: "\e12f";
}
.icomoon-arrow-up3:before {
  content: "\e130";
}
.icomoon-arrow-up-right3:before {
  content: "\e131";
}
.icomoon-arrow-right3:before {
  content: "\e132";
}
.icomoon-arrow-down-right3:before {
  content: "\e133";
}
.icomoon-arrow-down3:before {
  content: "\e134";
}
.icomoon-arrow-down-left3:before {
  content: "\e135";
}
.icomoon-arrow-left3:before {
  content: "\e136";
}
.icomoon-tab:before {
  content: "\e137";
}
.icomoon-checkbox-checked:before {
  content: "\e138";
}
.icomoon-checkbox-unchecked:before {
  content: "\e139";
}
.icomoon-checkbox-partial:before {
  content: "\e13a";
}
.icomoon-radio-checked:before {
  content: "\e13b";
}
.icomoon-radio-unchecked:before {
  content: "\e13c";
}
.icomoon-crop:before {
  content: "\e13d";
}
.icomoon-scissors:before {
  content: "\e13e";
}
.icomoon-filter:before {
  content: "\e13f";
}
.icomoon-filter2:before {
  content: "\e140";
}
.icomoon-font:before {
  content: "\e141";
}
.icomoon-text-height:before {
  content: "\e142";
}
.icomoon-text-width:before {
  content: "\e143";
}
.icomoon-bold:before {
  content: "\e144";
}
.icomoon-underline:before {
  content: "\e145";
}
.icomoon-italic:before {
  content: "\e146";
}
.icomoon-strikethrough:before {
  content: "\e147";
}
.icomoon-omega:before {
  content: "\e148";
}
.icomoon-sigma:before {
  content: "\e149";
}
.icomoon-table:before {
  content: "\e14a";
}
.icomoon-table2:before {
  content: "\e14b";
}
.icomoon-insert-template:before {
  content: "\e14c";
}
.icomoon-pilcrow:before {
  content: "\e14d";
}
.icomoon-lefttoright:before {
  content: "\e14e";
}
.icomoon-righttoleft:before {
  content: "\e14f";
}
.icomoon-paragraph-left:before {
  content: "\e150";
}
.icomoon-paragraph-center:before {
  content: "\e151";
}
.icomoon-paragraph-right:before {
  content: "\e152";
}
.icomoon-paragraph-justify:before {
  content: "\e153";
}
.icomoon-paragraph-left2:before {
  content: "\e154";
}
.icomoon-paragraph-center2:before {
  content: "\e155";
}
.icomoon-paragraph-right2:before {
  content: "\e156";
}
.icomoon-paragraph-justify2:before {
  content: "\e157";
}
.icomoon-indent-increase:before {
  content: "\e158";
}
.icomoon-indent-decrease:before {
  content: "\e159";
}
.icomoon-newtab:before {
  content: "\e15a";
}
.icomoon-embed:before {
  content: "\e15b";
}
.icomoon-code:before {
  content: "\e15c";
}
.icomoon-console:before {
  content: "\e15d";
}
.icomoon-share:before {
  content: "\e15e";
}
.icomoon-mail:before {
  content: "\e15f";
}
.icomoon-mail2:before {
  content: "\e160";
}
.icomoon-mail3:before {
  content: "\e161";
}
.icomoon-mail4:before {
  content: "\e162";
}
.icomoon-google:before {
  content: "\e163";
}
.icomoon-googleplus:before {
  content: "\e164";
}
.icomoon-googleplus2:before {
  content: "\e165";
}
.icomoon-googleplus3:before {
  content: "\e166";
}
.icomoon-googleplus4:before {
  content: "\e167";
}
.icomoon-google-drive:before {
  content: "\e168";
}
.icomoon-facebook:before {
  content: "\e169";
}
.icomoon-facebook2:before {
  content: "\e16a";
}
.icomoon-facebook3:before {
  content: "\e16b";
}
.icomoon-instagram:before {
  content: "\e16c";
}
.icomoon-twitter:before {
  content: "\e16d";
}
.icomoon-twitter2:before {
  content: "\e16e";
}
.icomoon-twitter3:before {
  content: "\e16f";
}
.icomoon-feed2:before {
  content: "\e170";
}
.icomoon-feed3:before {
  content: "\e171";
}
.icomoon-feed4:before {
  content: "\e172";
}
.icomoon-youtube:before {
  content: "\e173";
}
.icomoon-youtube2:before {
  content: "\e174";
}
.icomoon-vimeo:before {
  content: "\e175";
}
.icomoon-vimeo2:before {
  content: "\e176";
}
.icomoon-vimeo3:before {
  content: "\e177";
}
.icomoon-lanyrd:before {
  content: "\e178";
}
.icomoon-flickr:before {
  content: "\e179";
}
.icomoon-flickr2:before {
  content: "\e17a";
}
.icomoon-flickr3:before {
  content: "\e17b";
}
.icomoon-flickr4:before {
  content: "\e17c";
}
.icomoon-picassa:before {
  content: "\e17d";
}
.icomoon-picassa2:before {
  content: "\e17e";
}
.icomoon-dribbble:before {
  content: "\e17f";
}
.icomoon-dribbble2:before {
  content: "\e180";
}
.icomoon-dribbble3:before {
  content: "\e181";
}
.icomoon-forrst:before {
  content: "\e182";
}
.icomoon-forrst2:before {
  content: "\e183";
}
.icomoon-deviantart:before {
  content: "\e184";
}
.icomoon-deviantart2:before {
  content: "\e185";
}
.icomoon-steam:before {
  content: "\e186";
}
.icomoon-steam2:before {
  content: "\e187";
}
.icomoon-github:before {
  content: "\e188";
}
.icomoon-github2:before {
  content: "\e189";
}
.icomoon-github3:before {
  content: "\e18a";
}
.icomoon-github4:before {
  content: "\e18b";
}
.icomoon-github5:before {
  content: "\e18c";
}
.icomoon-wordpress:before {
  content: "\e18d";
}
.icomoon-wordpress2:before {
  content: "\e18e";
}
.icomoon-joomla:before {
  content: "\e18f";
}
.icomoon-blogger:before {
  content: "\e190";
}
.icomoon-blogger2:before {
  content: "\e191";
}
.icomoon-tumblr:before {
  content: "\e192";
}
.icomoon-tumblr2:before {
  content: "\e193";
}
.icomoon-yahoo:before {
  content: "\e194";
}
.icomoon-tux:before {
  content: "\e195";
}
.icomoon-apple:before {
  content: "\e196";
}
.icomoon-finder:before {
  content: "\e197";
}
.icomoon-android:before {
  content: "\e198";
}
.icomoon-windows:before {
  content: "\e199";
}
.icomoon-windows8:before {
  content: "\e19a";
}
.icomoon-soundcloud:before {
  content: "\e19b";
}
.icomoon-soundcloud2:before {
  content: "\e19c";
}
.icomoon-skype:before {
  content: "\e19d";
}
.icomoon-reddit:before {
  content: "\e19e";
}
.icomoon-linkedin:before {
  content: "\e19f";
}
.icomoon-lastfm:before {
  content: "\e1a0";
}
.icomoon-lastfm2:before {
  content: "\e1a1";
}
.icomoon-delicious:before {
  content: "\e1a2";
}
.icomoon-stumbleupon:before {
  content: "\e1a3";
}
.icomoon-stumbleupon2:before {
  content: "\e1a4";
}
.icomoon-stackoverflow:before {
  content: "\e1a5";
}
.icomoon-pinterest:before {
  content: "\e1a6";
}
.icomoon-pinterest2:before {
  content: "\e1a7";
}
.icomoon-xing:before {
  content: "\e1a8";
}
.icomoon-xing2:before {
  content: "\e1a9";
}
.icomoon-flattr:before {
  content: "\e1aa";
}
.icomoon-foursquare:before {
  content: "\e1ab";
}
.icomoon-foursquare2:before {
  content: "\e1ac";
}
.icomoon-paypal:before {
  content: "\e1ad";
}
.icomoon-paypal2:before {
  content: "\e1ae";
}
.icomoon-paypal3:before {
  content: "\e1af";
}
.icomoon-yelp:before {
  content: "\e1b0";
}
.icomoon-libreoffice:before {
  content: "\e1b1";
}
.icomoon-file-pdf:before {
  content: "\e1b2";
}
.icomoon-file-openoffice:before {
  content: "\e1b3";
}
.icomoon-file-word:before {
  content: "\e1b4";
}
.icomoon-file-excel:before {
  content: "\e1b5";
}
.icomoon-file-zip:before {
  content: "\e1b6";
}
.icomoon-file-powerpoint:before {
  content: "\e1b7";
}
.icomoon-file-xml:before {
  content: "\e1b8";
}
.icomoon-file-css:before {
  content: "\e1b9";
}
.icomoon-html5:before {
  content: "\e1ba";
}
.icomoon-html52:before {
  content: "\e1bb";
}
.icomoon-css3:before {
  content: "\e1bc";
}
.icomoon-chrome:before {
  content: "\e1bd";
}
.icomoon-firefox:before {
  content: "\e1be";
}
.icomoon-IE:before {
  content: "\e1bf";
}
.icomoon-opera:before {
  content: "\e1c0";
}
.icomoon-safari:before {
  content: "\e1c1";
}
.icomoon-IcoMoon:before {
  content: "\e1c2";
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.csmm_gdpr_popup {
  position: absolute;
  display: none;
  background: #fff;
  z-index: 99999;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80vh;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 2000px rgba(0, 0, 0, 0.75);
}

.csmm_gdpr_popup .gdpr_popup_close {
  position: absolute;
  right: -10px;
  top: -10px;
  background: #5a5a5a;
  color: #fff;
  padding: 4px 10px;
  border-radius: 18px;
}

.csmm_gdpr_popup .gdpr_popup_close:hover {
  background: #333333;
  cursor: pointer;
}

.csmm_gdpr_popup .gdpr_popup_policy {
  overflow-y: auto;
  height: 100%;
}

.csmm_gdpr_popup div,
.csmm_gdpr_popup span,
.csmm_gdpr_popup applet,
.csmm_gdpr_popup object,
.csmm_gdpr_popup iframe,
h1,
.csmm_gdpr_popup h2,
.csmm_gdpr_popup h3,
.csmm_gdpr_popup h4,
.csmm_gdpr_popup h5,
.csmm_gdpr_popup h6,
.csmm_gdpr_popup p,
.csmm_gdpr_popup blockquote,
.csmm_gdpr_popup pre,
a,
.csmm_gdpr_popup abbr,
.csmm_gdpr_popup acronym,
.csmm_gdpr_popup address,
.csmm_gdpr_popup big,
.csmm_gdpr_popup cite,
.csmm_gdpr_popup code,
del,
.csmm_gdpr_popup dfn,
.csmm_gdpr_popup em,
.csmm_gdpr_popup img,
.csmm_gdpr_popup ins,
.csmm_gdpr_popup kbd,
.csmm_gdpr_popup q,
.csmm_gdpr_popup s,
.csmm_gdpr_popup samp,
small,
.csmm_gdpr_popup strike,
.csmm_gdpr_popup strong,
.csmm_gdpr_popup sub,
.csmm_gdpr_popup sup,
.csmm_gdpr_popup tt,
.csmm_gdpr_popup var,
b,
.csmm_gdpr_popup u,
.csmm_gdpr_popup center,
dl,
.csmm_gdpr_popup dt,
.csmm_gdpr_popup dd,
.csmm_gdpr_popup ol,
.csmm_gdpr_popup ul,
.csmm_gdpr_popup li,
fieldset,
.csmm_gdpr_popup form,
.csmm_gdpr_popup label,
.csmm_gdpr_popup legend,
table,
.csmm_gdpr_popup caption,
.csmm_gdpr_popup tbody,
.csmm_gdpr_popup tfoot,
.csmm_gdpr_popup thead,
.csmm_gdpr_popup tr,
.csmm_gdpr_popup th,
.csmm_gdpr_popup td,
article,
.csmm_gdpr_popup aside,
.csmm_gdpr_popup canvas,
.csmm_gdpr_popup details,
.csmm_gdpr_popup embed,
.csmm_gdpr_popup figure,
.csmm_gdpr_popup figcaption,
.csmm_gdpr_popup footer,
.csmm_gdpr_popup header,
.csmm_gdpr_popup hgroup,
.csmm_gdpr_popup menu,
.csmm_gdpr_popup nav,
.csmm_gdpr_popup output,
.csmm_gdpr_popup ruby,
.csmm_gdpr_popup section,
.csmm_gdpr_popup summary,
time,
.csmm_gdpr_popup mark,
.csmm_gdpr_popup audio,
.csmm_gdpr_popup video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  word-break: break-word;
}

.csmm_gdpr_popup ul,
.csmm_gdpr_popup ul li {
  list-style: disc;
}

.csmm_gdpr_popup ol,
.csmm_gdpr_popup ol li {
  list-style: decimal;
}

.csmm_gdpr_popup ul,
.csmm_gdpr_popup ol {
  margin: 0 0 28px 28px;
  padding: 0;
}

.csmm_gdpr_popup b,
.csmm_gdpr_popup strong {
  font-weight: 700;
}

.csmm_gdpr_popup h1,
.csmm_gdpr_popup h2,
.csmm_gdpr_popup h3,
.csmm_gdpr_popup h4,
.csmm_gdpr_popup h5,
.csmm_gdpr_popup h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.csmm_gdpr_popup h1 {
  font-size: 3rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.csmm_gdpr_popup h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.csmm_gdpr_popup h3 {
  font-size: 1.9375rem;
}

.csmm_gdpr_popup h4 {
  font-size: 1.5625rem;
}

.csmm_gdpr_popup a:link {
  color: #2199e8;
  text-decoration: none;
  cursor: pointer;
}

.csmm_gdpr_popup p {
  margin-bottom: 1.4rem;
  font-size: inherit;
  line-height: 1.9;
  text-rendering: optimizeLegibility;
}

.csmm_gdpr_popup em,
.csmm_gdpr_popup i {
  font-style: italic;
}

.csmm_gdpr_popup ol ol,
.csmm_gdpr_popup ol ul,
.csmm_gdpr_popup ul ol,
.csmm_gdpr_popup ul ul {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

.csmm_gdpr_popup [class^="icomoon-"],
.csmm_gdpr_popup [class*=" icomoon-"],
.csmm_gdpr_popup [data-icomoon] {
  font-family: "icomoon";
  font-style: normal;
}

.csmm_gdpr_popup .alignright {
  float: right;
  margin: 6px 0 28px 28px;
}

.csmm_gdpr_popup .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 28px;
}

.csmm_gdpr_popup .alignleft {
  float: left;
  margin: 6px 28px 28px 0;
}

.content-2col-container-column {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  float: left;
}

.content-2col-container {
  overflow: auto;
}

.mm-module.divider {
  display: block;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .maintenance-mode.middle {
    margin: 0;
    margin-top: 10px;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }

  .countdown-block .timer span {
    font-size: 28px;
    min-width: 50px;
  }

  .countdown-block .timer span i {
    font-size: 14px;
    display: block;
    padding: 0;
  }

  .header-text {
    font-size: 36px;
  }

  .secondary-container,
  .gdpr_consent,
  .content-2col-container {
    font-size: 16px;
  }
}

.csmm-blur {
  -webkit-filter: blur(5px); /* Safari */
  filter: blur(5px);
}

#csmm-access-form {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 350px;
  margin-left: -175px;
  margin-top: -200px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 94px 13px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 0px 0px 94px 13px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.29);
  text-align: center;
  font-size: 16px;
  z-index: 999999;
}

#csmm-access-password {
  width: 100%;
  margin: 10px 0;
  font-size: 16px;
  padding: 6px;
  border-radius: 2px;
  border: 1px solid #e4e4e4;
}

#csmm-access-check-password {
  background: #333;
  color: #fff;
  border: 0px;
  padding: 6px 26px;
  font-size: 16px;
  border-radius: 2px;
}

#csmm-access-check-password:hover {
  background: #666;
}

#csmm-access-response {
  background: #e62b2b;
  color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 2px;
  margin-top: 5px;
}

#csmm-access-response span {
  padding: 10px;
  display: block;
}

#csmm-access-show-form {
  position: absolute;
  bottom: 90px;
  right: 0px;
  font-size: 20px;
  background: #353535;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  opacity: 0.4;
  width: 48px;
  text-align: center;
}

#csmm-access-show-form:hover {
  opacity: 1;
  cursor: pointer;
  outline: thin dotted;
}

#csmm-login-page-link {
  position: absolute;
  bottom: 150px;
  right: 0px;
  font-size: 20px;
  background: #353535;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  opacity: 0.4;
  width: 48px;
  text-align: center;
}

#csmm-login-page-link:hover {
  opacity: 1;
  cursor: pointer;
}

.g-recaptcha > div{
    margin:0 auto;
}

a,a:hover{
    outline: 0;
}